<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>Employee Record Application Log</contextName>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} [%clr(%-15.15t{14}){faint}][%clr(%-5level)][%clr(%-30.30logger{3}){cyan}] %clr(:){faint} %m%n%wex"/>

    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-15.15t{14}][%-5level][%-30.30logger{3}] : %m%n%wex"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <jmxConfigurator/>

    <property name="LOG_FILE" value="logs/era"/>
    <property name="LOG_FILE_MAX_SIZE" value="50MB" />
    <property name="LOG_TOTAL_SIZE_CAP" value="1500MB" />
    <property name="LOG_FILE_MAX_HISTORY" value="30" />
    
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.log</file>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                ${FILE_LOG_PATTERN}
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="com.macademia" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
